.mypage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.mypage__content {
  display: flex;
  justify-content: center;
}

.mypage__sidebar {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  margin-bottom: 50px;
  height: 700px;
}

.mypage__profile {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.mypage__nav {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.mypage__nav-link {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.mypage__nav-link--active {
  font-weight: bold;
}

.mypage__calendar {
  width: 800px;
}
.manage_box a {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.profile-img {
  width: 30px;
}
