.mypage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mypage__layout {
  display: flex;
  justify-content: center;
}

.mypage__sidebar {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  margin-bottom: 50px;
  height: 700px;
}

.mypage__profile-image {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 30px;
}

.mypage__nav {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.mypage__nav-link {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.mypage__nav-link--active {
  font-weight: bold;
}

.mypage__content {
  width: 800px;
}

.mypage__travel {
  width: 100%;
}

.mypage__travel-select {
  width: 100px;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;
}

.mypage__travel-table {
  width: 100%;
  border-collapse: collapse;
}

.mypage__travel-cell {
  padding: 10px;
  text-align: center;
}

.mypage__travel-checkbox {
  width: 70%;
  margin: 5px 0 5px 20px;
  cursor: pointer;
  border: none;
  text-align: center;
}

.mypage__travel-delete {
  width: 20px;
  cursor: pointer;
}

.mypage__pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mypage__pagination-button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mypage__pagination-button:hover {
  background-color: #f0f0f0;
}
