.container {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#join_h1 {
  margin-top: 100px;
  font-size: 50px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

.contents {
  border: 1px solid rgb(238, 238, 238);
  width: 40%;
  margin: 40px 20%;
  padding: 40px 0;
  border-radius: 5px;
}

#insert input[type='text'],
input[type='email'],
input[type='password'] {
  border: 1px solid rgb(238, 238, 238);
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  margin-bottom: 15px;
  margin-left: 20%;
}

#joinbtn {
  padding: 10px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  width: 60%;
  background-color: white;
  color: gray;
  margin-left: 20%;
  cursor: pointer;
}

#id_check,
#nickName_check {
  padding: 5px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  font-size: 10px;
  margin-left: 5px;
  background-color: white;
  color: gray;
  cursor: pointer;
}

.profile {
  margin-bottom: 70px;
  text-align: center;
}

.profile label {
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  color: rgb(140, 217, 248);
}

.profile .thumbnail-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto 10px;
  cursor: pointer;
}

.profile .thumbnail-box img {
  width: 200px;
  height: 200px;
}
