html {
  height: 100vh;
}

.container {
  display: flex;
  width: 90%;
  height: 93%;
  border: 2px solid skyblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#travel-info-container {
  width: 90%;
  height: 90%;
}

#travel-info {
  width: 30%;
  border: 1px solid skyblue;
}

#travel-name {
  background-color: #f693ff;
  padding: 5%;
  font-size: larger;
}

#travel-name input {
  height: 40px;
  width: 300px;
  font-size: 15px;
}

#travel-info-container {
  margin: 5%;
  height: 95%;
  overflow: auto;
}

#travel-period h3 {
  display: block;
}

#calendar {
  font-size: 9px;
  width: 90%;
  margin: 5%;
  cursor: pointer;
}

#map-info {
  width: 70%;
  border: 3px solid skyblue;
}

#day-select {
  display: none;
}

.form-container {
  background-color: #f2f1f1;
  padding: 20px;
  display: none;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  width: 60px;
  margin-right: 15px;
  font-size: 14px;
}

.form-group input[type='text'],
.form-group input[type='number'],
.form-group input[type='file'] {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.form-actions button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.submit-btn {
  background-color: #4caf50;
  color: #fff;
}

.cancel-btn {
  background-color: #f44336;
  color: #fff;
}

#location {
  margin-right: 10px;
}

#journey-display {
  height: 250px;
  margin-bottom: 10px;
  overflow: scroll;
  display: none;
}

#save-journey {
  background-color: #f2f1f1;
  margin-top: 10px;
  padding: 5px;
  display: none;
  justify-content: center;
  cursor: pointer;
}

.fas {
  cursor: pointer;
}

#travel-info-footer {
  margin-top: 10px;
  display: none;
  justify-content: flex-end;
}

#save-travel {
  color: white;
  background-color: black;
  cursor: pointer;
  margin-right: 10px;
}

#display-budget {
  margin-right: 10px;
}
